<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chung.lms.mapper.LibraryCheckoutHistoryMapper">
  <resultMap id="BaseResultMap" type="com.chung.lms.model.LibraryCheckoutHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="borrowed_date" jdbcType="TIMESTAMP" property="borrowedDate" />
    <result column="borrow_member_id" jdbcType="BIGINT" property="borrowMemberId" />
    <result column="book_item_id" jdbcType="BIGINT" property="bookItemId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, borrowed_date, borrow_member_id, book_item_id
  </sql>
  <select id="selectByExample" parameterType="com.chung.lms.model.LibraryCheckoutHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from library_checkout_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from library_checkout_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from library_checkout_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chung.lms.model.LibraryCheckoutHistoryExample">
    delete from library_checkout_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chung.lms.model.LibraryCheckoutHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into library_checkout_history (borrowed_date, borrow_member_id, book_item_id
      )
    values (#{borrowedDate,jdbcType=TIMESTAMP}, #{borrowMemberId,jdbcType=BIGINT}, #{bookItemId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chung.lms.model.LibraryCheckoutHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into library_checkout_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="borrowedDate != null">
        borrowed_date,
      </if>
      <if test="borrowMemberId != null">
        borrow_member_id,
      </if>
      <if test="bookItemId != null">
        book_item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="borrowedDate != null">
        #{borrowedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowMemberId != null">
        #{borrowMemberId,jdbcType=BIGINT},
      </if>
      <if test="bookItemId != null">
        #{bookItemId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chung.lms.model.LibraryCheckoutHistoryExample" resultType="java.lang.Long">
    select count(*) from library_checkout_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update library_checkout_history
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.borrowedDate != null">
        borrowed_date = #{row.borrowedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.borrowMemberId != null">
        borrow_member_id = #{row.borrowMemberId,jdbcType=BIGINT},
      </if>
      <if test="row.bookItemId != null">
        book_item_id = #{row.bookItemId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update library_checkout_history
    set id = #{row.id,jdbcType=BIGINT},
      borrowed_date = #{row.borrowedDate,jdbcType=TIMESTAMP},
      borrow_member_id = #{row.borrowMemberId,jdbcType=BIGINT},
      book_item_id = #{row.bookItemId,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chung.lms.model.LibraryCheckoutHistory">
    update library_checkout_history
    <set>
      <if test="borrowedDate != null">
        borrowed_date = #{borrowedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowMemberId != null">
        borrow_member_id = #{borrowMemberId,jdbcType=BIGINT},
      </if>
      <if test="bookItemId != null">
        book_item_id = #{bookItemId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chung.lms.model.LibraryCheckoutHistory">
    update library_checkout_history
    set borrowed_date = #{borrowedDate,jdbcType=TIMESTAMP},
      borrow_member_id = #{borrowMemberId,jdbcType=BIGINT},
      book_item_id = #{bookItemId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>